.titolo {
  font-family: "Outfit", sans-serif;
  color: white;
  margin-top: 84px;
  font-size: 60px;
  display: block;
  margin-bottom: -100px;
}

.fotoragazza {
  display: inline-block;
  max-width: 161%;
  margin-left: 137%;
  margin-top: 36%;
}

.boxPadre {
  display: flex;
}

.objectfitCover {
  object-fit: cover;
  height: 400px;
  width: 22%;
}

#grassetto {
  font-weight: bold;
}

/* proviamo */
.circle-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.circle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 82px;
  margin-top: 7px;
  margin-right: 25px;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #d20094;
  /* proviamo */
  display: inline-block; /* Per consentire il posizionamento accanto al testo */
  vertical-align: middle; /* Per allineare verticalmente con il testo */
  margin-right: 10px; /* Spazio tra il cerchio e il testo */
}

.circle img {
  width: 100%;
  height: auto;
  display: block;
}

/* proviamo */
.text {
  display: inline-block; /* Permette la gestione del posizionamento accanto al cerchio */
  vertical-align: middle; /* Allineamento verticale con il cerchio */
  margin-top: 116px;
  margin-right: 47px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

/* ..... */
body {
  background-image: url(../assets/bg.jpg);
  color: white;
  padding-left: 45px;
  height: 100vh;
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  position: center;
}

.logo {
  text-align: left;
  height: 32px;
  padding-top: 30px;
}

.difficultyLevel {
  padding-top: 128px;
  color: #d20094;
  margin-bottom: 8px;
  font-family: "Outfit", sans-serif;
}

.numberQuestions {
  color: #d20094;
  margin-bottom: 8px;
  font-family: "Outfit", sans-serif;
  padding-top: 27px;
}

.slider-container {
  width: 300px;
  margin: 50px auto;
}

.difficulty-levels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* SLIDER */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider-container {
  margin-left: -3px; /* Aggiunto per spostare il contenitore a sinistra */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d20094;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d20094;
  cursor: pointer;
}

/* NUMERO DI DOMANDE */
/* Stile generale per il campo di input */
input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
}

/* Stile quando il campo di input ha il focus */
input[type="number"]:focus {
  border-color: #a2c517;
}

/* Stile per l'etichetta del campo di input */
.descrizioni {
  margin-right: 10px; /* Aggiunge uno spazio tra l'etichetta e il campo di input */
}

.spazio {
}

.bottone-procedi {
  padding: 18px 60px;
  font-size: 19px;
  background-color: #00ffff;
  color: rgb(11, 17, 59);
  border: none;
  font-weight: bold;
  box-shadow: 0 0px 18px #00ffff;
  cursor: pointer; /*cursore al passaggio */
  margin-bottom: 90px;
  margin-top: 75px;
}

.bottone-procedi:disabled {
  background-color: #dddddd; /* Colore di sfondo quando disabilitato */
  color: #555; /* Colore del testo quando disabilitato */
  cursor: not-allowed; /* Cambiare il cursore a "non permesso" quando disabilitato */
  box-shadow: 0 0px 18px #555;
  margin-bottom: 90px;
}

.spazio {
  margin-bottom: 72px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: white;
}

.descrizioni {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: white;
}

.grassetto {
  font-weight: bold;
}

.interlinealista {
  line-height: 1.5; /* Imposto uno spazio tra le righe del 50% rispetto all'altezza del testo */
}
