body {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  width: 200px;
  padding: 2rem;
  margin-left: 3rem;
}
h1 {
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}
h2 {
  font-family: "Outfit", sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5rem;
}
.side {
  flex: 1;
  text-align: center;
  color: white;
}

.donut-chart {
  border: 1px solid #000;
  margin: 0 auto;
  flex: 0.5;
  text-align: center;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
}
.outcome {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}
.percent {
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}
.questions {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}
button {
  text-align: center;
  padding: 10px 20px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.025);
  padding: 18px 60px;
  font-size: 19px;
}
.button {
  text-align: center;
  padding-top: 10px;
}

.donut-segment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#donut-segment1 {
  background-color: #0052cc;
  transform: rotate(0deg);
}

#donut-segment2 {
  background-color: #d20094;
  transform: rotate(0deg);
}
